@model ArticleAPIApp.Entities.Article

@{
    ViewData["Title"] = "CreateArticle";
    Layout = "~/Views/Shared/_LayoutCRUD.cshtml";
}



<h4>Create Article</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                <strong>Uyarı ! <span style="text-decoration:underline;">İşlem Başarısız</span> </strong> @ViewBag.Error
            </div>
        }
        <form asp-controller="Home" asp-action="CreateArticle" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Author", "Author", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.AuthorId, (IEnumerable<SelectListItem>)ViewBag.Authors, new { @class = "form-control" })
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Category", "Category", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

